@tailwind base;
@tailwind components;
@tailwind utilities;

.relative {
    position: relative !important;
}

.stickyVideo {
    position: sticky !important;
    top: 10px !important;
    padding: 10px;
    height: fit-content;
}
